name: video_call
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_dotenv: ^5.1.0
  permission_handler: ^11.3.1
  # 아고라 관련 최신 버전들
  agora_rtc_engine: ^6.3.2
  agora_uikit: ^1.3.10
  # 문제의 원인인 rtm을 최신(2.x.x)으로 강제 승격
  agora_rtm: ^2.2.0

dependency_overrides:
  agora_rtm: ^2.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - .env